<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Countries</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>List of Countries</h1>
    <form th:action="@{'/animal/addCountry/' +  ${id}}" method="get">
        <button type="submit" class="btn btn-outline-primary">Add country</button>
    </form>
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Flag</th>
            <th scope="col">Continent</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="country : ${listOfCountry}">
            <td th:text="${country.name}"></td>
            <td>
                <img th:src="'data:image/jpeg;base64,' + ${country.generateBase64Image()}"
                     width="100" height="50" alt="Flag" />
            </td>
            <td th:text="${country.continent}"></td>
            <td>
                <form th:action="@{'/animal/deleteCountry/' + ${country.id} + '/' + ${id}}" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="form-group">
        <a href="/animal/getAll" class="btn btn-secondary">Cancel</a>
    </div>
</div>
</body>
</html>
