<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Countries</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <div th:replace="navbar.html"></div>
</head>
<body>
<div class="container mt-5">
    <h1> Hello dear user! Welcome on my zoo website! </h1>
    <br>
    <h1> Please feel free to navigate this website using navigation bar at the top )</h1>
    <br>
    <p style="text-align:center;"><img src="https://i.stack.imgur.com/SBv4T.gif" alt="this slowpoke moves"  width="450" /></p>
</div>
</body>
</html>
