<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>List of Zoo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }
        .zoo-header {
            background-color: #28a745;
            color: white;
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 20px;
            text-align: center;
        }
    </style>
    <div th:replace="navbar.html"></div>
</head>
<body>
<div class="container mt-5">
    <div class="zoo-header">
        <h1>List of Zoo</h1>
        <a class="btn btn-light" th:href="@{/zoo/create}">Add Zoo</a>
    </div>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Square</th>
            <th scope="col">Name of Location</th>
            <th scope="col">Flag of Location</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="zoo : ${zooList}">
            <td th:text="${zoo.getName()}"></td>
            <td th:text="${zoo.getSquare()}"></td>
            <td>
                <span th:if="${zoo.getLocation() != null}" th:text="${zoo.getLocation().getName()}"></span>
            </td>
            <td>
                <span th:if="${zoo.getLocation() != null && zoo.getLocation().getFlag() != null}">
                    <img th:src="'data:image/jpeg;base64,' + ${zoo.getLocation().generateBase64Image()}" width="200" height="150" alt="Image" class="img-fluid rounded" />
                </span>
            </td>
            <td>
                <div class="btn-group">
                    <form th:action="@{/zoo/delete}" method="post">
                        <input type="hidden" name="id" th:value="${zoo.id}" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <a class="btn btn-info" th:href="@{'/zoo/update/' + ${zoo.id}}">Edit</a>
                    <a class="btn btn-outline-success" th:href="@{'/zoo/animals/' + ${zoo.id}}">Animals</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
